/*==================== GOOGLE FONTS ====================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
    background: #0e0e10;
    color: #f7f7f8;
    transition: background-color 0.5s ease;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

 input,
 textarea,
 button,
 select,
 a,
 div,
 span
 {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerinput {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100%;
    position: absolute;
  }
  
 @media screen and (max-width: 768px) {
    .input {
        box-sizing: border-box;
        width: 80%;
        position: relative;
        outline: none;
        font-size: 14px;
        font-weight: 500;
        background-color: #53535f;
        caret-color: #f7f7f8;
        color: #fff;
        padding: 7px 10px;
        border: 2px solid transparent;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        margin-right: 1px;
        transition: all .2s ease;
      }
  }
  

  @media screen and (min-width: 768px) {
    .input {
        box-sizing: border-box;
        width: 70%;
        position: relative;
        outline: none;
        font-size: 14px;
        font-weight: 500;
        background-color: #53535f;
        caret-color: #f7f7f8;
        color: #fff;
        padding: 7px 10px;
        border: 2px solid transparent;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        margin-right: 1px;
        transition: all .2s ease;
      }
    
 }
  
  .input:hover {
    border: 2px solid rgba(255, 255, 255, 0.16);
  }
  
  .input:focus {
    border: 2px solid #a970ff;
    background-color: #0e0e10;
  }
  
  .search__btn {
    border: none;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    background-color: rgba(42, 42, 45, 1);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search__btn:hover {
    background-color: rgba(54, 54, 56, 1);
  }

  .radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #53535fd4;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);

    width: 200px;
    height: 30px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    height: 100%;
    color: #f7f7f8;
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #53535f;
    font-weight: 600;
  }

  .radio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
  }

  .mainText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

    .textMain {
        font-size: 30px;
        font-weight: 600;
        margin-right: 10px;
        text-align: center;
    }